__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
.git/
.gitignore
.DS_Store
*.db
*.sqlite3
*.log
*.md
tests/


# Python virtual environments
venv/
.env*
*.env

# Coverage and test outputs
htmlcov/
coverage.*
*.cover
.pytest_cache/

# OS/Editor specific
*.swp